<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csulb.android.fullcount" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".FavoritesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".PlayerCardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".TeamCreation"
            android:label="@string/app_name" />
        <activity android:name="com.facebook.LoginActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_team_creation" >
        </activity>
        <activity
            android:name=".BattingRoster"
            android:label="@string/title_activity_batting_roster" >
        </activity>
    </application>

</manifest>
